In [85]:
import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [66]:
# Define the ticker symbol for JPMorgan Chase & Co.
ticker_symbol = 'JPM'

# Initialize the yfinance Ticker object for JPM
jpm_ticker = yf.Ticker(ticker_symbol)

# Get available expiration dates
expiration_dates = jpm_ticker.options

# Choose an expiration date that exists in the list of available expiration dates
# For the purpose of this example, let's choose the first available expiration date
expiration_date = expiration_dates[0]

# Download the options data for JPM for the chosen expiration date
jpm_options = jpm_ticker.option_chain(expiration_date)

# Separate the calls and puts data
jpm_calls = jpm_options.calls
jpm_puts = jpm_options.puts

# Display the first few rows of the calls data

df = pd.DataFrame(jpm_calls)

In [68]:
df.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,JPM240126C00090000,2024-01-02 16:33:56+00:00,90.0,80.87,79.70,81.35,0.000000,0.000000,1.0,0,3.125002,True,REGULAR,USD
1,JPM240126C00100000,2024-01-24 18:50:36+00:00,100.0,70.45,69.85,71.00,0.089996,0.127908,1.0,5,3.939453,True,REGULAR,USD
2,JPM240126C00105000,2024-01-24 18:49:50+00:00,105.0,65.50,64.75,66.15,0.089996,0.137588,1.0,15,3.804688,True,REGULAR,USD
3,JPM240126C00130000,2024-01-03 15:23:05+00:00,130.0,40.80,39.70,40.90,0.000000,0.000000,NaN,0,2.121098,True,REGULAR,USD
4,JPM240126C00135000,2023-12-26 14:44:24+00:00,135.0,32.96,34.55,36.15,0.000000,0.000000,1.0,0,2.074224,True,REGULAR,USD

### Kraken API Request

In [74]:
import requests
import pandas as pd
from datetime import datetime, timedelta

def fetch_historical_data(pair, interval, since):
    url = f'https://api.kraken.com/0/public/OHLC?pair={pair}&interval={interval}&since={since}'
    response = requests.get(url).json()
    return pd.DataFrame(response['result'][pair], columns=['Time', 'Open', 'High', 'Low', 'Close', 'VWAP', 'Volume', 'Count'])

def get_unix_timestamp(date):
    return int(datetime.timestamp(date))

# Define your pair and interval
pair = 'XXBTZUSD'  # Example for Bitcoin to USD
interval = 1440  # Daily data (1440 minutes in a day)

# Define the date range
end_date = datetime.now()
start_date = end_date - timedelta(days=2*365)  # 2 years back from today
since = get_unix_timestamp(start_date)

# Fetch the historical data
historical_data = fetch_historical_data(pair, interval, since)
historical_data['Close'] = historical_data['Close'].astype(float)

# Convert timestamp to readable date format for clarity
historical_data['Time'] = pd.to_datetime(historical_data['Time'], unit='s')


df = pd.DataFrame(historical_data)

In [76]:
df.head()

,Time,Open,High,Low,Close,VWAP,Volume,Count
0,2022-02-05,41597.2,41926.4,40883.7,41419.0,41509.6,2211.15688361,24916
1,2022-02-06,41419.0,42694.5,41141.9,42419.5,41772.3,1818.07180806,22192
2,2022-02-07,42426.1,44528.6,41697.4,43867.2,43382.3,4604.68183967,39555
3,2022-02-08,43873.1,45500.0,42709.6,44079.1,43881.5,3432.44974988,35663
4,2022-02-09,44083.1,44831.0,43187.2,44420.0,44013.4,3210.42939961,27148

### deribit API Request

In [ ]:
#MaW0sFMebW5vxx_WvodEHmgJ2bcqXLDXmMDgUsieesQ
#Hrykz9ld

In [3]:
import requests

# Deribit API endpoints
base_url = "https://www.deribit.com/api/v2/public"
private_base_url = "https://www.deribit.com/api/v2/private"

# Replace with your API key and secret
api_key = 'Hrykz9ld'
api_secret = 'MaW0sFMebW5vxx_WvodEHmgJ2bcqXLDXmMDgUsieesQ'

# Function to get historical options data
def get_options_history(instrument_name, count=10):
    endpoint = "/get_order_book"
    params = {
        "instrument_name": instrument_name,
        "depth": count
    }

    try:
        response = requests.get(base_url + endpoint, params=params)

        if response.status_code == 200:
            data = response.json()
            return data
        else:
            print(f"Error: {response.status_code} - {response.text}")
            return None
    except Exception as e:
        print(f"An error occurred: {str(e)}")
        return None

# Replace 'BTC-29JAN22-40000-C' with the specific option contract you want to retrieve
option_contract = 'BTC-29JAN22-40000-C'

# Replace '10' with the number of data points you want to retrieve
data_count = 10

options_data = get_options_history(option_contract, data_count)

if options_data and 'result' in options_data:
    print(f"Historical Options Data for {option_contract}:")
    for entry in options_data['result']:
        print(f"Price: {entry[0]}, Size: {entry[1]}")
else:
    print("Failed to retrieve options data.")

Historical Options Data for BTC-29JAN22-40000-C:
Price: d, Size: e
Price: e, Size: s
Price: b, Size: e
Price: b, Size: e
Price: b, Size: i
Price: a, Size: s
Price: u, Size: n
Price: u, Size: n
Price: m, Size: a
Price: b, Size: e
Price: b, Size: e
Price: i, Size: n
Price: m, Size: a
Price: o, Size: p
Price: m, Size: a
Price: m, Size: i
Price: l, Size: a
Price: a, Size: s
Price: b, Size: i
Price: c, Size: h
Price: i, Size: n
Price: i, Size: n
Price: g, Size: r
Price: s, Size: t
Price: s, Size: t
Price: t, Size: i

In [2]:
import requests
from datetime import datetime

# Your Deribit API credentials (might not be needed for public endpoints)
api_key = 'Hrykz9ld'
api_secret = 'MaW0sFMebW5vxx_WvodEHmgJ2bcqXLDXmMDgUsieesQ'

# The Deribit API URL
base_url = 'https://www.deribit.com/api/v2/'

# Define the header for authenticated requests (if necessary)
headers = {
    'Authorization': 'Bearer ' + api_key,
    # Add other necessary headers
}

# Function to fetch historical options data
def fetch_historical_options_data(instrument_name, start_timestamp, end_timestamp):
    endpoint = f'public/get_historical_volatility?instrument_name={instrument_name}'
    params = {
        'start_timestamp': start_timestamp,
        'end_timestamp': end_timestamp,
    }
    response = requests.get(base_url + endpoint, params=params, headers=headers)
    data = response.json()
    if 'error' in data and data['error']:
        raise Exception(f"Error fetching data: {data['error']['message']}")
    return data['result']

# Example timestamps (milliseconds since epoch)
start_timestamp = int(datetime(2022, 1, 1).timestamp()) * 1000
end_timestamp = int(datetime(2024, 1, 1).timestamp()) * 1000

# Example instrument name
instrument_name = 'BTC-25MAR22-45000-C'  # Update with a valid instrument

try:
    historical_data = fetch_historical_options_data(instrument_name, start_timestamp, end_timestamp)
    print(historical_data)
except Exception as e:
    print(str(e))

Error fetching data: Invalid params

In [1]:
import asyncio
import websockets
import json

msg = \
{
  "id" : 1,
  "method" : "public/get_mark_price_history",
  "params" : {
    "instrument_name" : "BTC-25JUN21-50000-C",
    "start_timestamp" : 1609376800000,
    "end_timestamp" : 1609376810000
  },
  "jsonrpc" : "2.0"
}

async def call_api(msg):
   async with websockets.connect('wss://test.deribit.com/ws/api/v2') as websocket:
       await websocket.send(msg)
       while websocket.open:
           response = await websocket.recv()
           # do something with the response...
           print(response)

asyncio.get_event_loop().run_until_complete(call_api(json.dumps(msg)))

RuntimeError: This event loop is already running

In [65]:
import requests
import pandas as pd
from datetime import datetime

def fetch_historical_data(pair, interval, since):
    url = f'https://api.kraken.com/0/public/OHLC?pair={pair}&interval={interval}&since={since}'
    response = requests.get(url)
    data = response.json()
    
    if data['error']:
        raise Exception(f"Error fetching data: {data['error']}")
    
    return data['result'][pair]

def convert_to_dataframe(data):
    columns = ['Time', 'Open', 'High', 'Low', 'Close', 'VWAP', 'Volume', 'Count']
    df = pd.DataFrame(data, columns=columns)
    df['Time'] = pd.to_datetime(df['Time'], unit='s')
    return df

# Example usage
pair = 'XXBTZUSD'  # Kraken's pair name for Bitcoin to USD
interval = 1440  # Daily data (1440 minutes in a day)
since = int(datetime(2020, 1, 1).timestamp())  # Getting data from Jan 1, 2022

try:
    historical_data = fetch_historical_data(pair, interval, since)
    df = convert_to_dataframe(historical_data)
    print(df.head())  # Display the first few rows of data
except Exception as e:
    print(str(e))

        Time     Open     High      Low    Close     VWAP         Volume  \
0 2022-02-05  41597.2  41926.4  40883.7  41419.0  41509.6  2211.15688361
1 2022-02-06  41419.0  42694.5  41141.9  42419.5  41772.3  1818.07180806
2 2022-02-07  42426.1  44528.6  41697.4  43867.2  43382.3  4604.68183967
3 2022-02-08  43873.1  45500.0  42709.6  44079.1  43881.5  3432.44974988
4 2022-02-09  44083.1  44831.0  43187.2  44420.0  44013.4  3210.42939961

   Count
0  24916
1  22192
2  39555
3  35663
4  27148

In [64]:
df

,Time,Open,High,Low,Close,VWAP,Volume,Count
0,2022-02-05,41597.2,41926.4,40883.7,41419.0,41509.6,2211.15688361,24916
1,2022-02-06,41419.0,42694.5,41141.9,42419.5,41772.3,1818.07180806,22192
2,2022-02-07,42426.1,44528.6,41697.4,43867.2,43382.3,4604.68183967,39555
3,2022-02-08,43873.1,45500.0,42709.6,44079.1,43881.5,3432.44974988,35663
4,2022-02-09,44083.1,44831.0,43187.2,44420.0,44013.4,3210.42939961,27148
...,...,...,...,...,...,...,...,...
715,2024-01-21,41649.9,42260.0,41482.8,41554.7,41687.0,892.75638839,10991
716,2024-01-22,41554.8,41654.2,39410.9,39510.0,40323.0,4093.73353976,35136
717,2024-01-23,39510.0,40100.0,38518.0,39844.0,39231.1,3365.92043035,30988
718,2024-01-24,39844.0,40492.3,39451.1,40069.8,39930.5,2453.93910708,22651
719,2024-01-25,40069.8,40135.0,40004.1,40114.3,40058.0,26.79960912,563

In [6]:
import requests
import pandas as pd
from datetime import datetime

def fetch_historical_data(pair, interval, since):
    url = f'https://api.kraken.com/0/public/OHLC?pair={pair}&interval={interval}&since={since}'
    response = requests.get(url)
    data = response.json()
    return data['result'][pair]

# Example usage
pair = 'XXBTZUSD'  # Bitcoin to USD
interval = 1440  # Daily data, intervals are in minutes
since = int(datetime(2022, 1, 1).timestamp())  # Start date in UNIX timestamp

historical_data = fetch_historical_data(pair, interval, since)

# Convert to DataFrame for easier handling
df = pd.DataFrame(historical_data, columns=['Time', 'Open', 'High', 'Low', 'Close', 'VWAP', 'Volume', 'Count'])

In [7]:
df.head()

,Time,Open,High,Low,Close,VWAP,Volume,Count
0,1644019200,41597.2,41926.4,40883.7,41419.0,41509.6,2211.15688361,24916
1,1644105600,41419.0,42694.5,41141.9,42419.5,41772.3,1818.07180806,22192
2,1644192000,42426.1,44528.6,41697.4,43867.2,43382.3,4604.68183967,39555
3,1644278400,43873.1,45500.0,42709.6,44079.1,43881.5,3432.44974988,35663
4,1644364800,44083.1,44831.0,43187.2,44420.0,44013.4,3210.42939961,27148