In [2]:

import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
import seaborn as sns
%config InlineBackend.figure_format ='retina'

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Import data

In [3]:
#btc options data
btc_data=pd.read_csv('data/btc_data.csv', sep=",")
#eth options data 
eth_data=pd.read_csv('data/eth_data.csv', sep=",")

In [6]:
btc_data.head()

,best_bid_amount,best_ask_amount,bid_iv,ask_iv,underlying_index,underlying_price,mark_iv,interest_rate,best_bid_price,best_ask_price,...,greeks.theta,greeks.vega,greeks.gamma,greeks.delta,stats.volume_usd,stats.volume,stats.price_change,stats.low,stats.high,settlement_period
0,0.0,10.0,0.0,302.28,SYN.BTC-28JAN24,42117.9379,104.62,0.0,0.0,0.1345,...,-0.00038,0.00001,0.0,1.00000,0.0,0.0,None,None,None,day
0,0.0,10.0,0.0,213.97,SYN.BTC-28JAN24,42119.0537,104.62,0.0,0.0,0.0001,...,-0.00003,0.00001,0.0,0.00000,0.0,0.0,None,None,None,day
0,0.0,10.0,0.0,270.94,SYN.BTC-28JAN24,42119.0537,101.32,0.0,0.0,0.1225,...,-0.00197,0.00004,0.0,1.00000,0.0,0.0,None,None,None,day
0,0.0,10.0,0.0,195.70,SYN.BTC-28JAN24,42119.0537,101.32,0.0,0.0,0.0001,...,-0.00015,0.00004,0.0,0.00000,0.0,0.0,None,None,None,day
0,0.0,10.0,0.0,263.13,SYN.BTC-28JAN24,42119.5533,100.23,0.0,0.0,0.1110,...,-0.01554,0.00031,0.0,0.99999,0.0,0.0,None,None,None,day

In [9]:
btc_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 684 entries, 0 to 0
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   best_bid_amount     684 non-null    float64
 1   best_ask_amount     684 non-null    float64
 2   bid_iv              684 non-null    float64
 3   ask_iv              684 non-null    float64
 4   underlying_index    684 non-null    object
 5   underlying_price    684 non-null    float64
 6   mark_iv             684 non-null    float64
 7   interest_rate       684 non-null    float64
 8   best_bid_price      684 non-null    float64
 9   best_ask_price      684 non-null    float64
 10  mark_price          684 non-null    float64
 11  open_interest       684 non-null    float64
 12  max_price           684 non-null    float64
 13  min_price           684 non-null    float64
 14  settlement_price    642 non-null    float64
 15  last_price          427 non-null    object
 16  asks                684 non-null    object
 17  bids                684 non-null    object
 18  change_id           684 non-null    int64
 19  instrument_name     684 non-null    object
 20  index_price         684 non-null    float64
 21  timestamp           684 non-null    int64
 22  greeks.rho          684 non-null    float64
 23  greeks.theta        684 non-null    float64
 24  greeks.vega         684 non-null    float64
 25  greeks.gamma        684 non-null    float64
 26  greeks.delta        684 non-null    float64
 27  stats.volume_usd    684 non-null    float64
 28  stats.volume        684 non-null    float64
 29  stats.price_change  23 non-null     object
 30  stats.low           23 non-null     object
 31  stats.high          23 non-null     object
 32  settlement_period   684 non-null    object
dtypes: float64(22), int64(2), object(9)
memory usage: 181.7+ KB

In [7]:
eth_data.head()

,best_bid_amount,best_ask_amount,bid_iv,ask_iv,underlying_index,underlying_price,mark_iv,interest_rate,best_bid_price,best_ask_price,...,greeks.theta,greeks.vega,greeks.gamma,greeks.delta,stats.volume_usd,stats.volume,stats.price_change,stats.low,stats.high,settlement_period
0,0.0,0.0,0.0,0.0,SYN.ETH-28JAN24,2276.8832,222.73,0.0,0.0,0.0,...,-2.21171,0.01986,0.00025,0.98721,0.00,0.0,None,None,None,day
0,0.0,0.0,0.0,0.0,SYN.ETH-28JAN24,2276.9332,222.73,0.0,0.0,0.0,...,-0.60758,0.01984,0.00025,-0.01278,0.00,0.0,None,None,None,day
0,0.0,0.0,0.0,0.0,SYN.ETH-28JAN24,2276.9332,222.73,0.0,0.0,0.0,...,-5.16421,0.04637,0.00058,0.96511,0.00,0.0,None,None,None,day
0,0.0,0.0,0.0,0.0,SYN.ETH-28JAN24,2276.9332,222.73,0.0,0.0,0.0,...,-1.88950,0.04637,0.00058,-0.03489,45.27,10.0,0.0,0.002,0.002,day
0,0.0,0.0,0.0,0.0,SYN.ETH-28JAN24,2276.9332,222.73,0.0,0.0,0.0,...,-9.97799,0.08960,0.00111,0.91982,0.00,0.0,None,None,None,day

In [10]:
eth_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 606 entries, 0 to 0
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   best_bid_amount     606 non-null    float64
 1   best_ask_amount     606 non-null    float64
 2   bid_iv              606 non-null    float64
 3   ask_iv              606 non-null    float64
 4   underlying_index    606 non-null    object
 5   underlying_price    606 non-null    float64
 6   mark_iv             606 non-null    float64
 7   interest_rate       606 non-null    float64
 8   best_bid_price      606 non-null    float64
 9   best_ask_price      606 non-null    float64
 10  mark_price          606 non-null    float64
 11  open_interest       606 non-null    float64
 12  max_price           606 non-null    float64
 13  min_price           606 non-null    float64
 14  settlement_price    582 non-null    float64
 15  last_price          373 non-null    object
 16  asks                606 non-null    object
 17  bids                606 non-null    object
 18  change_id           606 non-null    int64
 19  instrument_name     606 non-null    object
 20  index_price         606 non-null    float64
 21  timestamp           606 non-null    int64
 22  greeks.rho          606 non-null    float64
 23  greeks.theta        606 non-null    float64
 24  greeks.vega         606 non-null    float64
 25  greeks.gamma        606 non-null    float64
 26  greeks.delta        606 non-null    float64
 27  stats.volume_usd    606 non-null    float64
 28  stats.volume        606 non-null    float64
 29  stats.price_change  30 non-null     object
 30  stats.low           30 non-null     object
 31  stats.high          30 non-null     object
 32  settlement_period   606 non-null    object
dtypes: float64(22), int64(2), object(9)
memory usage: 161.0+ KB