In [5]:
#import yfinance as yf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [66]:
# Define the ticker symbol for JPMorgan Chase & Co.
ticker_symbol = 'JPM'

# Initialize the yfinance Ticker object for JPM
jpm_ticker = yf.Ticker(ticker_symbol)

# Get available expiration dates
expiration_dates = jpm_ticker.options

# Choose an expiration date that exists in the list of available expiration dates
# For the purpose of this example, let's choose the first available expiration date
expiration_date = expiration_dates[0]

# Download the options data for JPM for the chosen expiration date
jpm_options = jpm_ticker.option_chain(expiration_date)

# Separate the calls and puts data
jpm_calls = jpm_options.calls
jpm_puts = jpm_options.puts

# Display the first few rows of the calls data

df = pd.DataFrame(jpm_calls)

In [68]:
df.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,JPM240126C00090000,2024-01-02 16:33:56+00:00,90.0,80.87,79.70,81.35,0.000000,0.000000,1.0,0,3.125002,True,REGULAR,USD
1,JPM240126C00100000,2024-01-24 18:50:36+00:00,100.0,70.45,69.85,71.00,0.089996,0.127908,1.0,5,3.939453,True,REGULAR,USD
2,JPM240126C00105000,2024-01-24 18:49:50+00:00,105.0,65.50,64.75,66.15,0.089996,0.137588,1.0,15,3.804688,True,REGULAR,USD
3,JPM240126C00130000,2024-01-03 15:23:05+00:00,130.0,40.80,39.70,40.90,0.000000,0.000000,NaN,0,2.121098,True,REGULAR,USD
4,JPM240126C00135000,2023-12-26 14:44:24+00:00,135.0,32.96,34.55,36.15,0.000000,0.000000,1.0,0,2.074224,True,REGULAR,USD

### Kraken API Request

In [74]:
import requests
import pandas as pd
from datetime import datetime, timedelta

def fetch_historical_data(pair, interval, since):
    url = f'https://api.kraken.com/0/public/OHLC?pair={pair}&interval={interval}&since={since}'
    response = requests.get(url).json()
    return pd.DataFrame(response['result'][pair], columns=['Time', 'Open', 'High', 'Low', 'Close', 'VWAP', 'Volume', 'Count'])

def get_unix_timestamp(date):
    return int(datetime.timestamp(date))

# Define your pair and interval
pair = 'XXBTZUSD'  # Example for Bitcoin to USD
interval = 1440  # Daily data (1440 minutes in a day)

# Define the date range
end_date = datetime.now()
start_date = end_date - timedelta(days=2*365)  # 2 years back from today
since = get_unix_timestamp(start_date)

# Fetch the historical data
historical_data = fetch_historical_data(pair, interval, since)
historical_data['Close'] = historical_data['Close'].astype(float)

# Convert timestamp to readable date format for clarity
historical_data['Time'] = pd.to_datetime(historical_data['Time'], unit='s')


df = pd.DataFrame(historical_data)

In [76]:
df.head()

,Time,Open,High,Low,Close,VWAP,Volume,Count
0,2022-02-05,41597.2,41926.4,40883.7,41419.0,41509.6,2211.15688361,24916
1,2022-02-06,41419.0,42694.5,41141.9,42419.5,41772.3,1818.07180806,22192
2,2022-02-07,42426.1,44528.6,41697.4,43867.2,43382.3,4604.68183967,39555
3,2022-02-08,43873.1,45500.0,42709.6,44079.1,43881.5,3432.44974988,35663
4,2022-02-09,44083.1,44831.0,43187.2,44420.0,44013.4,3210.42939961,27148